<footer class="footer">
  <div class="container">
    <div class="row gy-3">
      <div class="col-12 col-md-6 col-xl-3">
        <div class="item">
          <div class="logo">
            <img src="../../../assets/logo2.png" alt="logo" />
          </div>
          <p>Travel helps companies manage payments easily.</p>
          <div class="social">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <div class="company">
          <h3>Company</h3>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <div class="destination">
          <h3>Destination</h3>
          <ul>
            <li><a href="#">Maldives</a></li>
            <li><a href="#">Los Angelas</a></li>
            <li><a href="#">Las Vegas</a></li>
            <li><a href="#">Torronto</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <div class="quick-form">
          <h3>Join Our Newsletter</h3>
          <form action="">
            <input type="email" placeholder="Enter your email" />
            <button type="submit">Subscribe</button>
          </form>
          <p>* Will send you weekly updates for your better tour packages.</p>
        </div>
      </div>
    </div>
    <div class="copy-right">
      <p>Copyright © 2025 DEPI Travel Project. All rights reserved.</p>
    </div>
  </div>
</footer>
