<div class="container p-4">
  <div class="row g-4">
    <div class="col-lg-7">
      <div class="gallery">
        <img src="../../../assets/gallery/1.png" alt="Tour 1" />
        <img src="../../../assets/gallery/22.png" alt="Tour 2" />
        <img src="../../../assets/gallery/55.png" alt="Tour 3" />
        <img src="../../../assets/gallery/4.png" alt="Tour 4" />
        <img src="../../../assets/gallery/3.png" alt="Tour 5" />
        <img src="../../../assets/gallery/6.png" alt="Tour 6" />
        <img src="../../../assets/gallery/5.png" alt="Tour 7" />
      </div>
    </div>
    <div class="col-lg-5">
      <app-booking-form></app-booking-form>
    </div>
  </div>
</div>
