* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f9fa;
}



.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
  flex: 1;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery img:nth-child(4) {
  grid-column: span 2;
}
.gallery img:nth-child(7) {
  grid-column: span 2;
}

