.navbar {
  background-color: transparent !important;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000;
}
.navbar.scrolled {
  background-color: var(--secondary-color) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar.scrolled .nav-link {
  color: var(--primary-color);
}

.navbar-brand a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-item {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: left;
  background-color: var(--primary-color);
  transition: transform 0.3s ease-in-out;
}

.nav-item:hover::before {
  transform: translateX(-50%) scaleX(1);
}

.nav-item a {
  color: var(--white-color);
  font-size: 17px;
  font-weight: 500;
}

.nav-item a:hover {
  color: var(--primary-color);
}
.modal-title {
  color: var(--secondary-color);
  font-family: "Volkhov", "serif";
}

.modal-body .form-control:focus {
  border: none;
  box-shadow: 0 0 6px 4px var(--primary-color);
}
button {
  background-color: var(--primary-color);
  padding: 4px 20px;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--white-color);
}
button:hover,
button:focus {
  background-color: var(--primary-color);
  color: var(--white-color);
}
