.feedback {
  background-image: url("../../../assets/feedback.png");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}
.feedback .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 60px 0 20px 0;
}
.feedback .heading h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Volkhov", serif;
  color: var(--secondary-color);
  margin: 20px 0;
  line-height: 70px;
}
.feedback .heading span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
}
.feedback .feedback-card {
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 538px;
  background-color: var(--white-color);
  padding: 60px 50px 30px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: visible;
}

.feedback .feedback-card .image {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.feedback .feedback-card .image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .feedback-card .content {
  position: relative;
  z-index: 1;
}
.feedback .feedback-card .content p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Volkhov", serif;
  color: var(--black-color);
  margin: 20px 0;
  line-height: 24px;
}
.feedback .feedback-card .content h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Volkhov", serif;
  color: var(--black-color);
  margin: 20px 0;
  line-height: 40px;
}
